body{
    /* 过滤 */
    backdrop-filter: soft-light;
    /* 背景颜色 */
    background: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='white' fill-opacity='0.15' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to bottom right, dodgerblue, hotpink);
    /* 字体颜色 */
    color: white;
    /* 文字阴影 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
    /* 字体 */
    font-family: sans-serif;
    /* 字体大小 */
    font-size: 18px;
    /* 可视化高度100% */
    height: 100vh;
    /* 溢出隐藏 */
    overflow: hidden;
    /* flex布局居中 */
    display: flex;
    align-items: center;
    justify-content: center;

}
/* 信息框 */
.teaser{
    /* 背景 */
    background: linear-gradient(to bottom right,rgba(255,255,255,0.4),
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.2),
    rgba(255,255,255,0.4)
    );
    /* 模糊效果 */
    backdrop-filter: blur(2px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1),
        inset 10px 10px 30px rgba(255,255,255,0.2),
        inset -10px -10px 30pax rgba(255,255,255,0.2)
    ;
    border-top: 1px solid rgba(255,255,255,0.5);
    border-left: 1px solid rgba(0, 0, 0, 0.5);
    /* 边框圆角 */
    border-radius: 32px;
    /* 内边距 */
    padding: 30px 40px;
    max-width: 250px;
    max-height: 250px;
    /* flex布局 */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    /* 鼠标手指形状 */
    cursor: pointer;
    /* 过渡动画 */
    /* 第一个属性 持续时间
    第一个属性 变化的属性
    第三个属性 cubic-bezier贝塞尔曲线的动画表示速度
    第四个属性 延迟时间 */
    transition: 500ms max-width cubic-bezier(0.25,0.75,0.5,1.25) calc(500ms*2),
        500ms max-height cubic-bezier(0.25,0.75,0.5,1.25) 500ms;
    ;
}
/* 信息框标题 */
.teaser h3{
    margin: 10px 0;
}
/* 信息框详情 */
.teaser .info{
    opacity: 0;
    max-width: 0px;
    max-height: 0px;
    transition: 500ms max-width cubic-bezier(0.25,0.75,0.5,1.25) calc(50ms*2),
                500ms max-height cubic-bezier(0.25,0.75,0.5,1.25) 500ms,
                500ms opacity cubic-bezier(0.25,0.75,0.5,1.25) 0ms;
}
/* 信息框段落 */
.teaser .info p{
    margin: 10px 0;
}

/* 信息框激活时 */
.teaser.active{
    max-width: 400px;
    max-height: 400px;
    transition: 500ms max-width cubic-bezier(0.25,0.75,0.5,1.25) 0ms,
        500ms max-height cubic-bezier(0.25,0.75,0.5,1.25) 500ms;
    ;
}

/* 信息框详情激活时 */
.teaser .info.active{
    max-width: 400px;
    max-height: 400px;
    opacity: 1;
    transition:400ms max-width cubic-bezier(0.25,0.75,0.5,1.25) 0ms,
    400ms max-height cubic-bezier(0.25,0.75,0.5,1.25) 500ms,
    400ms opacity cubic-bezier(0.25,0.75,0.5,1.25) calc(500ms*2)

    ;
}