body {
    font-weight: 600;
    height: 100vh;
    overflow: hidden;
  }
  
  .keyboard {
    width: 850px;
    /* 键盘居中 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .row {
    display: flex;
    /* 每个按键间距相等 */
    justify-content: space-evenly;
    /* 去掉无序列表默认的点样式 */
    list-style-type: none;
  }
  
  .key {
    /* 定义每个键盘按键的长和宽 */
    width: 50px;
    height: 50px;
    /* 键盘按键内容垂直居中 */
    display: flex;
    justify-content: center;
    align-items: center;
    --clay-background: #ebebeb;
    --clay-border-radius: 15px
  }
  
  /* 鼠标移上去的样式 */
  .key:hover {
    cursor: pointer;
    transition: 0.3s;
    --clay-shadow-inset-primary: 0 0 5px 5px #d3d3d3;
  }
  
  #esc {
    width: 35px;
    --clay-background: palegreen
  }
  
  #esc:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px lightgreen
  }
  
  
  #del {
    width: 75px;
    --clay-background: #AFEEEE
  }
  
  #del:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #B0E0E6
  }
  
  #caps {
    width: 80px;
    --clay-background: #00dbff
  }
  
  #caps:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #10A5F5
  }
  
  
  
  #enter {
    width: 80px;
    --clay-background: #40E0D0
  }
  
  #enter:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #00CED1
  }
  
  
  #shift {
    width: 110px;
    --clay-background: #6495ED
  }
  
  #shift:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #527fd1
  }
  
  
  #shift2 {
    width: 70px;
    --clay-background: #87CEFA
  }
  
  #shift2:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #79bde8
  }
  
  /* 第五行按键 */
  
  
  #ctrl {
    --clay-background: #DC143C
  }
  
  #ctrl:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #ba1133
  }
  
  #fn {
    --clay-background: orange
  }
  
  #fn:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px darkorange
  }
  
  
  #win {
    --clay-background: mediumpurple
  }
  
  #win:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px slateblue
  }
  
  #alt {
    --clay-background: #778899
  }
  
  #alt:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #708090
  }
  
  /* 空格键 */
  #space {
    width: 300px;
  }
  
  #altgr {
    --clay-background: lightgray
  }
  
  #altgr:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px silver
  }
  
  #menu {
    --clay-background: red
  }
  
  #menu:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px #d90000
  }
  
  #ctrl2 {
    --clay-background: chocolate
  }
  
  #ctrl2:hover {
    --clay-shadow-inset-primary: 0 0 5px 5px sienna
  }



  /* 每个键盘都有三个属性。背景颜色、边框圆角率、盒子阴影 */
/* var 是css的变量，第一个参数是 变量的值，第二个参数是缺省值 */
.clay {
  /* 背景颜色 */
  background: var(--clay-background, rgba(0, 0, 0, .005));
  /* 边框圆角率 */
  border-radius: var(--clay-border-radius, 32px);
  /* 盒子阴影 */
  box-shadow: var(--clay-shadow-outset, 8px 8px 16px 0 rgba(0, 0, 0, .25),
      inset var(--clay-shadow-inset-primary, -8px -8px 16px 0 rgba(0, 0, 0, .25)),
      inset var(--clay-shadow-inset-secondary, 8px 8px 16px 0 hsla(0, 0%, 100%, .2)));
}