*{
    margin:0;
    padding:0;
}body{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #06252e;
}
.main{
    -webkit-box-reflect: below 1px linear-gradient(transparent,rgba(0,0,0,0.2))
/* 火狐不支持*/

}

h2{
    color:#fff;
    font-size: 96px;
    letter-spacing: 15px; /*字符之间的距离*/
    text-transform: uppercase; /*大写*/
    text-align:center;
    line-height:76px;
    /*outline:none;*/
    outline:green dashed 3px;/*绘制于元素周围的一条线，位于边框边缘的外围，可起到突出元素的作用。轮廓（outline）属性指定元素轮廓的样式、颜色和宽度。*/
    /*--c:lightseagreen;*/
    text-shadow:0 0 10px  lightseagreen, /*var(--c)*/
                /*文本阴影 水平阴影的位置  垂直阴影的位置  模糊的距离 阴影的颜色。*/
                0 0 20px lightseagreen,
                0 0 40px lightseagreen,
                0 0 80px lightseagreen,
                0 0 160px lightseagreen;
    animation:animate 5s linear infinite;
}
@keyframes animate{
    to{
        filter :hue-rotate(360deg); /*    一个色调360度不断旋转*/
    }
}