*{
    box-sizing:border-box;
}
body{
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items:center;
    background:#191919;
}
.progress{
    width:100%;
    max-width:200px;
    height:6px;
    background:rgb(255,255,255);
    border-radius:3px;
    overflow:hidden;
}
.progress_bar{
    display:flex;
    height:100%;
    background: linear-gradient(
        90deg,
        #2980b9,
        #9b59b6 10%,
        #33d9b2 30%,
        #40407a 51%,
        #cc8e35 68%,
        #ff3838 85%,
        #32ff7e);
        animation:lines 2s linear infinite;
        background-size: 300% 100%;
}
@keyframes lines {
    to{
        background-position: 100%;
    }
    from{
        background-position: 0;
    }
}
