* {
    /* 边框 */
    border: 0;
    /* 盒模型 */
    box-sizing: border-box;
    /* 外边距 */
    margin: 0;
    /* 内边距 */
    padding: 0;
  }
  
  :root {
    /* 字体大小 */
    font-size: 42px;
  }
  
  body {
    /* 背景颜色 */
    background: #e3e4e8;
    /* 文字颜色 */
    color: #17181c;
    /* flex布局 */
    display: flex;
    /* 字体  引入了外部字体 */
    font: 1em Hind, sans-serif;
    /* 高度100% */
    height: 100vh;
    /* 行高1.5倍 */
    line-height: 1.5;
    /* 内边距 */
    padding: 1.5em 0;
  }
  
  /* 表单 */
  form {
    /* 块元素 */
    display: block;
    /* 外边距自动适配 */
    margin: auto;
    /* 最大宽度 */
    max-width: 10em;
    /* 相对定位，给子元素绝对定位一个环境 */
    position: relative;
  } 
  
  
  input {
    /* 定位 固定，相对于浏览器视图窗口 */
    position: fixed;
    top: -1.5em;
    left: -1.5em;
  }
  
  label {
    /* hover 移动上去，手指形状 */
    cursor: pointer;
    /* 块元素 */
    display: block;
    /* 字体加粗 */
    font-weight: bold;
    /* 文字阴影 */
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
    /* 过渡动画  属性颜色，持续时间，贝塞尔曲线的速度*/
    transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  
  /* 选择器，除了最后一个label，其他都距离底部 外边距 1.5rem */
  label:not(:last-of-type) {
    margin-bottom: 1.5em;
  }
  
  
  label span {
    /* 行内块 */
    display: inline-block;
    /* 盒子阴影 */
    box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
    /* 右边距 */
    margin-right: 0.5em;
    /* 垂直对齐方式，底部 */
    vertical-align: bottom;
    width: 1.5em;
    height: 1.5em;
    /* 过渡动画  属性，时间，速度  */
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2),
      box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95),
      color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  
  label span,
  .worm__segment:before {
    /* 边框圆角 */
    border-radius: 50%;
  }
  
  /* 单选框被选中后 */
  input:checked+label,
  input:checked+label span,
  .worm__segment:before {
    color: #255ff4;
  }
  
  
  /* 单选框被选中后 */
  input:checked+label,
  input:checked+label span {
    /* 动画延迟 */
    transition-delay: 0.4s;
  }
  
  
  /* 单选框被选中后 */
  input:checked+label span {
    /* 变形 放大 1.2倍 */
    transform: scale(1.2);
  }
  
  .worm {
    top: 0.375em;
    left: 0.375em;
  }
  
  .worm,
  .worm__segment {
    /* 绝对定位 */
    position: absolute;
  }
  
  .worm__segment {
    top: 0;
    left: 0;
    width: 0.75em;
    height: 0.75em;
    /* 过渡动画，属性，持续时间，速度 */
    transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  
  .worm__segment:before {
    /* 持续时间 */
    animation-duration: 0.4s;
    /* 速度 */
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    /* 背景颜色 */
    background: currentColor;
    content: "";
    /* 块元素 */
    display: block;
    width: 100%;
    height: 100%;
  }
  
  /* 第一个和最后一个 */
  .worm__segment:first-child:before,
  .worm__segment:last-child:before {
    /* 盒阴影 */
    box-shadow: 0 0 1em 0 currentColor;
  }
  
  /* 点击单选后的动画 */
  input:nth-of-type(1):checked~.worm .worm__segment:before {
    /* 执行动画名 */
    animation-name: hop1;
  }
  
  /* 第一个单选框*/
  @keyframes hop1 {
  
    from,
    to {
      /* 向X轴平移 */
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-1.5em);
    }
  }
  
  /* 第二个单选框动画*/
  input:nth-of-type(2):checked~.worm .worm__segment {
    transform: translateY(3em);
  }
  
  input:nth-of-type(2):checked~.worm .worm__segment:before {
    animation-name: hop2;
  }
  
  /* 第二个单选框动画*/
  
  @keyframes hop2 {
  
    from,
    to {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-1.5em);
    }
  }
  
  input:nth-of-type(3):checked~.worm .worm__segment {
    transform: translateY(6em);
  }
  
  input:nth-of-type(3):checked~.worm .worm__segment:before {
    animation-name: hop3;
  }
  
  /* 第三个单选框动画*/
  
  @keyframes hop3 {
  
    from,
    to {
      transform: translateX(0);
    }
  
    50% {
      transform: translateX(-1.5em);
    }
  }
  
  /* 第二个元素 */
  .worm__segment:nth-child(2) {
    /* 动画延迟 */
    transition-delay: 0.004s;
  }
  
  .worm__segment:nth-child(2):before {
    /* 动画延迟 */
    animation-delay: 0.004s;
  }
  
  /* 第三个元素 */
  
  .worm__segment:nth-child(3) {
    transition-delay: 0.008s;
  }
  
  .worm__segment:nth-child(3):before {
    animation-delay: 0.008s;
  }
  
  .worm__segment:nth-child(4) {
    transition-delay: 0.012s;
  }
  
  .worm__segment:nth-child(4):before {
    animation-delay: 0.012s;
  }
  
  .worm__segment:nth-child(5) {
    transition-delay: 0.016s;
  }
  
  .worm__segment:nth-child(5):before {
    animation-delay: 0.016s;
  }
  
  .worm__segment:nth-child(6) {
    transition-delay: 0.02s;
  }
  
  .worm__segment:nth-child(6):before {
    animation-delay: 0.02s;
  }
  
  .worm__segment:nth-child(7) {
    transition-delay: 0.024s;
  }
  
  .worm__segment:nth-child(7):before {
    animation-delay: 0.024s;
  }
  
  .worm__segment:nth-child(8) {
    transition-delay: 0.028s;
  }
  
  .worm__segment:nth-child(8):before {
    animation-delay: 0.028s;
  }
  
  .worm__segment:nth-child(9) {
    transition-delay: 0.032s;
  }
  
  .worm__segment:nth-child(9):before {
    animation-delay: 0.032s;
  }
  
  .worm__segment:nth-child(10) {
    transition-delay: 0.036s;
  }
  
  .worm__segment:nth-child(10):before {
    animation-delay: 0.036s;
  }
  
  .worm__segment:nth-child(11) {
    transition-delay: 0.04s;
  }
  
  .worm__segment:nth-child(11):before {
    animation-delay: 0.04s;
  }
  
  .worm__segment:nth-child(12) {
    transition-delay: 0.044s;
  }
  
  .worm__segment:nth-child(12):before {
    animation-delay: 0.044s;
  }
  
  .worm__segment:nth-child(13) {
    transition-delay: 0.048s;
  }
  
  .worm__segment:nth-child(13):before {
    animation-delay: 0.048s;
  }
  
  .worm__segment:nth-child(14) {
    transition-delay: 0.052s;
  }
  
  .worm__segment:nth-child(14):before {
    animation-delay: 0.052s;
  }
  
  .worm__segment:nth-child(15) {
    transition-delay: 0.056s;
  }
  
  .worm__segment:nth-child(15):before {
    animation-delay: 0.056s;
  }
  
  .worm__segment:nth-child(16) {
    transition-delay: 0.06s;
  }
  
  .worm__segment:nth-child(16):before {
    animation-delay: 0.06s;
  }
  
  .worm__segment:nth-child(17) {
    transition-delay: 0.064s;
  }
  
  .worm__segment:nth-child(17):before {
    animation-delay: 0.064s;
  }
  
  .worm__segment:nth-child(18) {
    transition-delay: 0.068s;
  }
  
  .worm__segment:nth-child(18):before {
    animation-delay: 0.068s;
  }
  
  .worm__segment:nth-child(19) {
    transition-delay: 0.072s;
  }
  
  .worm__segment:nth-child(19):before {
    animation-delay: 0.072s;
  }
  
  .worm__segment:nth-child(20) {
    transition-delay: 0.076s;
  }
  
  .worm__segment:nth-child(20):before {
    animation-delay: 0.076s;
  }
  
  .worm__segment:nth-child(21) {
    transition-delay: 0.08s;
  }
  
  .worm__segment:nth-child(21):before {
    animation-delay: 0.08s;
  }
  
  .worm__segment:nth-child(22) {
    transition-delay: 0.084s;
  }
  
  .worm__segment:nth-child(22):before {
    animation-delay: 0.084s;
  }
  
  .worm__segment:nth-child(23) {
    transition-delay: 0.088s;
  }
  
  .worm__segment:nth-child(23):before {
    animation-delay: 0.088s;
  }
  
  .worm__segment:nth-child(24) {
    transition-delay: 0.092s;
  }
  
  .worm__segment:nth-child(24):before {
    animation-delay: 0.092s;
  }
  
  .worm__segment:nth-child(25) {
    transition-delay: 0.096s;
  }
  
  .worm__segment:nth-child(25):before {
    animation-delay: 0.096s;
  }
  
  .worm__segment:nth-child(26) {
    transition-delay: 0.1s;
  }
  
  .worm__segment:nth-child(26):before {
    animation-delay: 0.1s;
  }
  
  .worm__segment:nth-child(27) {
    transition-delay: 0.104s;
  }
  
  .worm__segment:nth-child(27):before {
    animation-delay: 0.104s;
  }
  
  .worm__segment:nth-child(28) {
    transition-delay: 0.108s;
  }
  
  .worm__segment:nth-child(28):before {
    animation-delay: 0.108s;
  }
  
  .worm__segment:nth-child(29) {
    transition-delay: 0.112s;
  }
  
  .worm__segment:nth-child(29):before {
    animation-delay: 0.112s;
  }
  
  .worm__segment:nth-child(30) {
    transition-delay: 0.116s;
  }
  
  .worm__segment:nth-child(30):before {
    animation-delay: 0.116s;
  }