body{
    /* 高度 */
    height: 100vh;
    font-family: sans-serif;
    font-size: 5vw;
    /* 字体转大写 */
    text-transform: uppercase;
    /* 溢出隐藏 */
    overflow: hidden;
}
.disappear{
    /* 居中显示 */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.disappear span{
    /* 行内块元素 */
    display: inline-block;
    /* 颜色透明 */
    color: transparent;
    /* 文字阴影 */
    text-shadow: 0px 0px 0px black;
    /* 动画 执行3s 匀速，无限次 */
    animation: an-1 3s linear infinite;
}

@keyframes an-1 {
    50%{
        /* 倾斜转换，页面垂直移动元素 */
        transform: skew(-50deg) translateY(-200%);
        /* 文字阴影 */
        text-shadow: 0px 0px 50px;
        /* 透明度 */
        opacity: 0;
    }
}