<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Lightly-HTML-Project</title>
      <script src="js/vue.min.js"></script>
      <script src="js/axios.min.js"></script>
      <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class='wrap'>
        <input class='search' type='text' v-on:keyup.enter="searchMusic()" v-model='query' />
        <ul class='song_list'>
              <li v-for='item in songList'>
                    <i class="fa fa-video-camera fa-2x"  v-on:click='playMusic(item.id)'> </i>  <!-- 点击播放视频 -->
                    <i class="fa fa-play-circle-o fa-2x" v-on:click='playMusic(item.id)'> <!-- 点击播放歌曲 --></i> 
                  <a href='javascript:;' >{{item.name}}</a>
              </li>
        </ul>

        <footer class='bottom'>
            <audio v-bind:src='musicUrl' controls='controls' autoplay='autoplay' loop='loop' style='width:65vw;'></audio>
        </footer>
    </div>
     <script>
        axios.defaults.baseURL = 'https://autumnfish.cn';  //接口基地址
        var app=new Vue({
            el:".wrap",
            data:{
                query:"",//搜索词 
                songList:[],//歌曲列表
                musicUrl:"",//歌曲URL
            },
            methods:{
                searchMusic:function(){   //搜索歌曲
                    var that=this
                    axios.get('/search?keywords='+this.query).then(
                        function(response){
                            that.songList=response.data.result.songs
                        },
                        function(err){
                            console.log(err)
                        }
                    )
                    this.query=""
                },


                playMusic(musicID){
                  var that=this
                    axios.get('/song/url?id='+musicID).then(
                        function(response){
                            that.musicUrl = response.data.data[0].url
                        },
                        function(err){
                            console.log(err)
                        }
                    )
              },

                playMv(mvID){
                  axios
                }
            }
        })
    </script>
  </body>
</html>
